<!doctype html>
<!-- Taken from https://git.erock.io -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Repositories</title>
    <link rel="stylesheet" href="/smol.css" />
  </head>
  <body class="container">
    <header>
      <h1 class="text-xl">Repos</h1>
    </header>

    <main class="group">
      {{#repos}}
      <div class="group-h">
        <div style="width: 100px;"><a href="{{homeUrl}}/{{name}}">{{name}}</a></div>
        <div class="flex-1">{{description}}</div>
      </div>
      {{/repos}}
    </main>
    <footer>
      built for <a href="pgit">pgit</a> and modelled after <a href="https://git.erock.io">git.erock.io</a>
    </footer>
  </body>
</html>
